html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

canvas {
  display: block;
  background-color: black;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}